<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h3>THEM SAN PHAM</h3>
<form th:action="@{create}" th:object="${list}" method="post">
    <table class="table">
        <tbody>
        <tr>
            <td>ID:</td>
            <td><input placeholder="nhập id" th:field="*{id}"></td>
            <td>Name:</td>
            <td><input placeholder="nhập name" th:field="*{name}"></td>
            <td>price:</td>
            <td><input placeholder="nhập price" th:field="*{price}"></td>
        <tr>
            <td>loai san pham:</td>
            <td colspan="2">
                <select th:field="*{loaiSP}">
                    <option th:each="lp: ${loaisanPhams}" th:value="${lp.loaiSP}" th:text="${lp.loaiSP}">
                    </option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Create</button>

</form>
</body>
</html>