<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" >
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="image/codegym1.png" alt="codegym 1" height="280" width="100%">
            </div>
            <div class="carousel-item">
                <img src="image/codegym2.png" alt="codegym 2" height="280" width="100%">
            </div>
            <div class="carousel-item">
                <img src="image/codegym3.png" alt="codegym 3" height="280" width="100%">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<div th:fragment="footer" class="footer">
    <link rel="stylesheet" href="css/footer.css">
    <footer class="container-fluid bg-4 text-center">
        <footer class="footer-distributed">
            <div class="footer-left">
                <h3>Code<span>gym</span></h3>
                <p class="footer-links">
                    <a href="/khachhang?action=quit" class="link-1">Home</a>
                    <a href="#">Blog</a>
                    <a href="#">Pricing</a>
                    <a href="#">About</a>
                    <a href="#">Faq</a>
                    <a href="#">Contact</a>
                </p>
                <p class="footer-company-name">CodeGym © 2021</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Nam Từ Niêm</span> Tòa nhà TT04, CodeGym</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+9.999.999</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">codegym@company.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the Dev</span>
                </p>
                <div class="footer-icons">
                    <ul class="icon-dang-nhap">
                        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                        <li><i class="fa fa-google" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
        </footer>
    </footer>
</div>
</body>
</html>