<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Personal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/footer.css">
</head>
<div th:replace="/layout :: header"></div>
<div class="container">
    <h2>DANH SACH SAN PHAM</h2>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>loaiSP</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,loop : ${list}">
            <td th:text="${row.id}"></td>
            <td th:text="${row.name}"></td>
            <td th:text="${row.price}"></td>
            <td th:text="${row.loaiSP}"></td>
            <td><a th:href="@{/edit{index}(index=${loop.index})}" class="btn btn-warning">Edit</a></td>
            <td><a th:href="@{/{id}/delete(id=${loop.index})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="/layout :: footer" ></div>
</html>